header {
  background-color: #e24647;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  color: #ffffff;
}

h1 {
  font-size: 40px;
  font-family: Arial, "Roboto", Helvetica, sans-serif;
  margin-left: 62.4px;
}

nav {
  font-size: 21px;
  font-family: "Segoe UI", "Roboto", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  margin-right: 60px;
  color: inherit;
}
